{% extends "head.html" %}
{% block content %}

        <h2>Ayylmao</h2>
                <h2>&nbsp;</h2>
<p1>Lorem ipsum dolor sit amet, consectetur adipisci deadass deadass deadass #kanye2020<br><br></p1>



                <p1>this is literally the best shit!<br><br> </p1>
                <p1>paragraph<br><br></p1>
                <p1>paragraph<br>
                <ul1>
                    <li><a href="https://drive.google.com/open?id=0B8giwrtqyuhIa2lrSklyUV9jMEk">Resume</a></li>
                    <li><a href="https://github.com/JustinChavez">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/justinlchavez">LinkedIn</a></li>
                    </ul1>

{% endblock %}
