{% extends "head.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>



<!--
<div class="container">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <script src="../static/todo.js"></script>

    <h2>Recordings</h2>
    <p><em>Click and drag to reorder, double click to cross an item off.</em></p>

    <div id="button">Add</div>
    <br/>
    <h4>Added:</h4>
    <br/>
    <ol></ol>
</div>
-->

{% endblock %}


